.artists-to-find {
    background: #406259;
    color: white;
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    border-radius: 33px;
    width: 400px;
    height: 550px;
}

.item-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
}

.artists-to-find h2 {
    font-family: Lemonada;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.artist-item > img {
    width: 75px;
}

.artist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid white;
    width: 75%;
    height: 75px;
}

.artist-item > p {
    font-weight: bold;
    font-size: 1.4rem;
}

.artist-item:last-of-type {
    border-bottom: 2px solid white;
}

.not-found {
    background: #F3B2C2;
    border-radius: 33px;
    padding: 3px 10px;
    color: black;
    font-weight: bold;
}

.found {
    background: #D9F9B1;
    border-radius: 33px;
    padding: 3px 10px;
    color: black;
    font-weight: bold;
}

@media (max-width: 1000px) {

    .item-section p {
        height: 50px;
        width: 60px;
        text-align: center;
        line-height: 15px;
        height: 30px;
    }
    .artists-to-find {
        background: #406259;
        color: white;
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding: 14px;
        border-radius: 33px;
        width: 200px;
        height: 375px;
    }
    .item-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        font-size: 0.7rem;
    }
    
    .artists-to-find h2 {
        font-family: Lemonada;
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
        line-height: 30px;
        overflow: hidden;
    }
    
    .artist-item > img {
        width: 60px;
    }
    
    .artist-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px;
        width: 100%;
        height: 60px;
        gap: 5px;
    }    

    .artist-item > p {
        font-weight: bold;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .game {
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    .main {
        justify-content: center;
        height: 100%;
    }

    .game {
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .item-section p {
        height: 50px;
        width: 60px;
        text-align: center;
        line-height: 15px;
        height: 30px;
    }

    
    .artists-to-find {
        background: #406259;
        color: white;
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 33px;
        width: 350px;
        height: auto;
    }
    .item-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        font-size: 0.7rem;
    }
    
    .artists-to-find h2 {
        font-family: Lemonada;
        font-size: 1rem;
        margin: 0;
        text-align: center;
        line-height: 30px;
    }

    .timer {
        display: none
    }
    
    .artist-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1px;
        border-top: none;
        width: 65px;
        height: 125px;
        border-right: 1px solid white;
    }    

    .artist-item > p {
        font-weight: bold;
        font-size: 0.8rem;
    }

    .artist-item:first-of-type {
        border-left: 1px solid white;
    }    

    .artist-item:last-of-type {
        border-right: 1px solid white;
        border-bottom: none;
    }
}