.header {
    font-family: Lemonada;
    background: #84A98C;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100%;
    gap: 12px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        width: 220px;
        white-space: nowrap;
    }

    .header {
        margin: 0;
    }

    .description-leaderboard button {
        font-size: 1rem;
        padding: 10px 5px
    }
}