.timer {
    font-size: 3rem;
    background: #406259;
    color: white;
    border-radius: 12px;
    padding: 0px 20px;
}

.nums {
    display: flex;
}

@media (max-width: 1000px) {
    .timer {
        font-size: 2rem;
        padding: 0px 15px;
    }
}